<div [class.heading-div]="compact">
<div class="heading" [class.heading-compact]="compact">
	<p class="title" [class.title-compact]="compact"> {{category.name}} 
		<i *ngIf="category.name == 'Clubs'" 
	  	class="fas fa-question-circle icon"
		matTooltip="Want to add your club? Contact EP Programming on Discord (ephs.club/discord)"
		matTooltipPosition=right
		matTooltipHideDelay=500>
		</i>
	</p>
</div>
</div>
<div class="content">
<div class="panel" *ngFor="let link of category.linkArray" [class.panel-compact]="compact"> 
  <app-link-panel [link]="link" [compact]="compact"></app-link-panel>
</div>
</div>
