.heading {
	margin-left: 1.25em;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: .167em;
	border-color: #3c3c3c;
	display: inline-block;
}

.heading-compact {
	margin: 0 auto;
	display: inline-block;
}

.heading-div {
	text-align: center;
}



.title {
	font-size: 1.25em;
	margin-bottom: .5em;	
}

.panel {
	display: inline-block;
	margin-left: 1.25em;
	margin-bottom: .5em;
}

.panel-compact {
	display: block;
	margin-bottom: 0em;
	margin-right: 1.25em;
}

.content {
	overflow: auto;
	white-space: nowrap;
}

.icon {
	font-size: .8em;	
}



