<div class="heading">
	<p class="title ephs">ephs</p>
	<p class="title portal"> portal</p>
	<div class="toggle">
	<mat-slide-toggle [(checked)]="compact" (change)="compact = !compact"> Compact</mat-slide-toggle>
	</div>
</div>
<div class="content">
	<app-category [category]="clubCategory" [class.compact]="compact" [compact]="compact"></app-category>
	<app-category [category]="officialCategory"  [class.compact]="compact" [compact]="compact"></app-category>
        <app-category [category]="extraLinks"  [class.compact]="compact" [compact]="compact"></app-category>
</div>
