.heading {
	background: #292727;
	margin-top: 0;
	padding: 1.25em;
}

.title {
	display: inline;
	font-size: 2em;
	.compact {
		color: black;
	}
}
.ephs {
	color: rgb(171, 40, 40);
}
.toggle {
	float: right;
	padding: .5em;
}

.compact {
		display: inline-block;
		vertical-align: top;
}

