.panel {
  background: #060607B3;
  border-radius: .667em;
  padding: 1.677em;
	padding-bottom: 1.25em;
  margin: .667em;
	margin-top: 1.333em;
	margin-left: 0em;
  font-size: 1.25vh;
	display: inline-block;
	text-align: center;
	min-width: 12.5em;
}

.title {
	font-size: 1.25em;
	margin-top: 0px;
	color: white;
}

.logo {
	width: 8.3333em;
	margin: .417em;
	opacity: .85;
	display: block;
	margin: auto;
}

.ico {
	display: inline-block;
	color: white;
	margin-top: .938em;
	font-size: 1.25em;
}
