/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: linear-gradient(120deg, rgb(171, 40, 40), rgb(41, 39, 39));
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  color: #fff;
}

html {
  min-height: 100%;
}
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
